@use "@/styles/mixins" as m;
.hero {
  position: relative;
  box-sizing: border-box;
  background: url("@/assets/main-picture.jpg") no-repeat center center;
  background-size: cover;
  min-height: 1084px;
  padding-top: 40px;
  color: #fff;
}
.container {
  @include m.containerStyles(0 80px);
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 96px;
    text-align: center;
    margin-top: 100px;
    text-transform: capitalize;
    letter-spacing: -1%;
  }
  p {
    margin-top: 28px;
    width: 606px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    opacity: 0.8;
  }
}
.inputWrapper {
  position: relative;
  margin-top: 60px;
  .searchInput {
    width: 344px;
    height: 56px;
    border: 0.86px solid rgba(255, 255, 255, 0.6);
    border-radius: 42px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(4px);
    box-sizing: border-box;
    padding: 15px 20px;
    line-height: 22px;
    font-size: 18px;
    position: relative;
    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
  }
  .search {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    img {
      padding: 11px;
      border-radius: 24px;
      background: rgba(229, 132, 17, 1);
    }
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    font-size: 28px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 2px;
  }
}

.menu {
  display: flex;
  gap: 65px;
  a {
    &:first-child {
      display: flex;
      gap: 8px;
    }
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
  }
}

.bag {
  position: relative;
  .counter {
    position: absolute;
    top: 3px;
    right: -5px;
    width: 8px;
    height: 13.24px;
    padding: 6px;
    background: rgba(229, 132, 17, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
